body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display SC', serif;
}

h1 {
    color: black;
    font-size: 100px;
}

header h2 {
    color: gray;
}

footer {
    background-image: linear-gradient(#ffffff, rgb(190, 190, 190), #7a797a, #474747, #242324, #000000);
    padding: 20px 0;
}

body {
    padding: 0;
    background-image: linear-gradient(to left, #ffffff, rgb(190, 190, 190), #7a797a, #474747, #242324, #000000);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

nav {
    background-color: black;
    color: white;
    link: white;
}

.jumbotron {
    width: viewport;
    background-image: url("/img/purple-address.jpg");
    background-color: white;
    background-position: center;
}
